# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.env
.DS_Store
TODO.md
logs.txt
.idea/
secret.md
app.env*
data
data/db/base/1/112
data/db/base/1/113
data/db/pg_wal/000000010000000000000001
data/db/base/1/112
data/db/base/1/113
data/db/base/1/174
data/db/base/1/175
data/db/base/1/548
data/db/base/1/826
vendor